QMS_BenhVien/QMS_BenhVien/Connected Services/HISReference/HISService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LinkHIS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LinkHIS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TIEPNHANModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BHYTDenNgay" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BHYTTuNgay" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BenhNhan_Id" type="xs:int" />
      <xs:element minOccurs="0" name="DiaChiLienHe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiaChiNguoiLienHe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoiTuongCapTren_Id" type="xs:int" />
      <xs:element minOccurs="0" name="DoiTuong_Id" type="xs:int" />
      <xs:element minOccurs="0" name="HinhThucDenKham_Id" type="xs:int" />
      <xs:element minOccurs="0" name="LyDoTiepNhan_Id" type="xs:int" />
      <xs:element minOccurs="0" name="NgayTao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NgayTiepNhan" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NguoiLienHe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NguoiLienHe_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NguoiTao_Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoiTiepNhan_Id" type="xs:int" />
      <xs:element minOccurs="0" name="QuanHuyen_Id" type="xs:int" />
      <xs:element minOccurs="0" name="SoBHYT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoThuTu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoTiepNhan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThoiGianTiepNhan" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ThuTienTruoc" type="xs:boolean" />
      <xs:element minOccurs="0" name="TiepNhan_Id" type="xs:int" />
      <xs:element minOccurs="0" name="TinhThanh_Id" type="xs:int" />
      <xs:element minOccurs="0" name="TuyenKhamBenh_Id" type="xs:int" />
      <xs:element minOccurs="0" name="XaPhuong_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TIEPNHANModel" nillable="true" type="tns:TIEPNHANModel" />
  <xs:complexType name="KQNhanLichSuKCBBS">
    <xs:sequence>
      <xs:element minOccurs="0" name="cqBHXH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="diaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dsLichSuKCB2018" nillable="true" type="tns:ArrayOfLichSuKCB2018" />
      <xs:element minOccurs="0" name="dsLichSuKT2018" nillable="true" type="tns:ArrayOfLichSuKT2018" />
      <xs:element minOccurs="0" name="ghiChu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gioiTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gtTheDen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gtTheDenMoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gtTheTu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gtTheTuMoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hoTen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maDKBD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maKV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maKetQua" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maSoBHXH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maThe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maTheCu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maTheMoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngayDu5Nam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngaySinh" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KQNhanLichSuKCBBS" nillable="true" type="tns:KQNhanLichSuKCBBS" />
  <xs:complexType name="ArrayOfLichSuKCB2018">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LichSuKCB2018" nillable="true" type="tns:LichSuKCB2018" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLichSuKCB2018" nillable="true" type="tns:ArrayOfLichSuKCB2018" />
  <xs:complexType name="LichSuKCB2018">
    <xs:sequence>
      <xs:element minOccurs="0" name="kqDieuTri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maCSKCB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maHoSo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngayRa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngayVao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tenBenh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tinhTrang" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LichSuKCB2018" nillable="true" type="tns:LichSuKCB2018" />
  <xs:complexType name="ArrayOfLichSuKT2018">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LichSuKT2018" nillable="true" type="tns:LichSuKT2018" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLichSuKT2018" nillable="true" type="tns:ArrayOfLichSuKT2018" />
  <xs:complexType name="LichSuKT2018">
    <xs:sequence>
      <xs:element minOccurs="0" name="maLoi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thoiGianKT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thongBao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userKT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LichSuKT2018" nillable="true" type="tns:LichSuKT2018" />
  <xs:complexType name="DM_BENHNHANModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BHYTDenNgay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BHYTTuNgay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BenhNhan_Id" type="xs:int" />
      <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DanToc_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GioiTinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaYTe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamSinh" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NgaySinh" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NguoiNuocNgoai" type="xs:boolean" />
      <xs:element minOccurs="0" name="QuanHuyen_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QuocTich_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SoBHYT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoVaoVien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenBenhNhan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenKhongDau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TinhThanh_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="XaPhuong_Id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DM_BENHNHANModel" nillable="true" type="tns:DM_BENHNHANModel" />
</xs:schema>